@using Interview.Entities
@using System.Text
@inject IViewLocalizer localizer

@{

    List<VmInterview> vmInterviews = ViewBag.VmInterviews;
    DateTime currentMonth = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1);
    DateTime procesStartDate = ViewBag.ProccessStartDate;
    DateTime processEndDate = ViewBag.ProccessEndDate;
    Guid externalCandidateId = ViewBag.ExternalCandidateId;
    List<RoleUserEquity> roleUserEquities = ViewBag.RoleUserEquities;

    string cultureName = System.Globalization.CultureInfo.CurrentCulture.Name;
    string language = cultureName == Constants.EnglishCulture ? localizer["English"].Value : localizer["French"].Value;

}

@functions {


    private string GetInterviewDetails(VmInterview vmInterview)
    {

        string result = null;
        DateTime time = DateTime.Today.Add(vmInterview.VmStartTime);

        result = $"<div>{vmInterview.VmStartDate.ToString(Constants.DateFormat)} {time.ToString(@"hh\:mm tt")}</div>";

        return result;

    }

    private string GetRoomAndLocation(VmInterview vmInterview)
    {

        string result = $"<div>{vmInterview.Location}</div> <div>{vmInterview.Room}</div>";

        return result;

    }

    private string GetRowClass(VmInterview interview)
    {

        string result = null;

        if (interview.Status == InterviewStates.AvailableForCandidate)
            result = "row-availableForCandidate";
        else if (interview.Status == InterviewStates.PendingCommitteeMembers)
            result = "row-pendingCommitteeMembers";
        else if (interview.Status == InterviewStates.Booked)
            result = "row-booked";

        return result;

    }

    private string GetEquities(List<RoleUserEquity> roleUserEquities, string cultureName)
    {

        StringBuilder sb = new StringBuilder();
        string equityDescription;

        foreach (RoleUserEquity roleUserEquity in roleUserEquities)
        {
            equityDescription = cultureName == Constants.EnglishCulture ? roleUserEquity.Equity.NameEN : roleUserEquity.Equity.NameFR;
            sb.Append(equityDescription);
            if (roleUserEquity != roleUserEquities.Last())
                sb.Append(", ");
        }

        return sb.ToString();

    }

}

<h1>@localizer["ExternalCandidateSchedule"]</h1>

<div class="row">
    <div class="table-responsive col-md-11">
        <table id="tblInterviews" class="table table-striped">
            <thead>
                <tr>
                    <th class="tableActionColumn">&nbsp;</th>
                    <th>Details</th>
                    <th>Room and Location</th>
                    <th>Equities</th>
                    <th>Language</th>
                </tr>
            </thead>
            @foreach (VmInterview vmInterview in vmInterviews)
            {
                <tr>
                   @* <td><a href="#modalContainer" class="editTable" data-id="@vmInterview.Id">Select</a></td>*@
                    <td>
                        @Html.ActionLink("Select", "SelectExternalInterview", "Candidates", new { interviewId = vmInterview.Id, externalCandidateId = externalCandidateId })
                    </td>
                    <td>@Html.Raw(GetInterviewDetails(vmInterview))</td>
                    <td>@Html.Raw(GetRoomAndLocation(vmInterview))</td>
                    <td>@Html.Raw(GetEquities(roleUserEquities, cultureName))</td>
                    <td>@language</td>
                </tr>
            }
        </table>
    </div>
</div>