@using Interview.Entities
@using Interview.UI.Models.Options
@inject IViewLocalizer localizer

@{

    string cultureName = System.Globalization.CultureInfo.CurrentCulture.Name;
    Process process = ViewBag.Process;
    List<DepartmentOption> departments = ViewBag.Departments;

    string departmentName = "";
    if (process.DepartmentKey != null)
    {
        var mockDepartment = departments.Where(x => x.Key == process.DepartmentKey).FirstOrDefault();
        if (mockDepartment != null)
            departmentName = cultureName == Constants.EnglishCulture ? mockDepartment.NameEN : mockDepartment.NameFR;
    }

}

<div class="col-md-4">
    <section class="panel panel-default mt-3">

        <div class="panel-heading">
            <h3 class="panel-title">
                @process.NoProcessus
            </h3>
        </div>

        <div class="panel-body">

            <div>
                @localizer["DepartmentId"]: <span class="h5">@departmentName</span>
            </div>
            <div>
                @localizer["GroupNiv"]: <span class="h5">@process.GroupNiv</span>
            </div>
            <div>
                @localizer["StartDate"]: <span class="h5">@process.StartDate.Value.ToString(Constants.DateFormat)</span>
            </div>
            <div>
                @localizer["EndDate"]: <span class="h5">@process.EndDate.Value.ToString(Constants.DateFormat)</span>
            </div>

            <div class="mrgn-tp-md">
                @Html.ActionLink(localizer["ProcessManagement"].Value, "Process", "Processes", new { processId = process.Id }, new { @class = "btn btn-default" })
                <a class="btn btn-danger deleteRecord" data-id="@process.Id" href="#modalContainer">@localizer["Delete"]</a>
            </div>

        </div>

    </section>
</div>
