@model VmInterviewerUserIds
@using Interview.Entities
@using Interview.UI.Models.Default
@using Interview.UI.Services.Mock.Identity
@inject IViewLocalizer localizer

@{

    List<RoleUser> candidateUsers = ViewBag.CandidateUsers;
    List<SelectListItem> candidateUsersItems = new List<SelectListItem>();
    candidateUsersItems.Add(new SelectListItem(localizer["PleaseSelect"].Value, ""));
    foreach (var candidateUser in candidateUsers)
    {
        candidateUsersItems.Add(new SelectListItem()
                {
                    Value = candidateUser.Id.ToString(),
                    Text = $"{candidateUser.UserFirstname} {candidateUser.UserLastname}"
                });
    }

    List<RoleUser> interviewerUsers = ViewBag.InterviewerUsers;
    List<SelectListItem> interviewerUsersItems = new List<SelectListItem>();
    interviewerUsersItems.Add(new SelectListItem(localizer["PleaseSelect"].Value, ""));
    foreach (var interviewerUser in interviewerUsers)
    {
        interviewerUsersItems.Add(new SelectListItem()
                {
                    Value = interviewerUser.Id.ToString(),
                    Text = $"{interviewerUser.UserFirstname} {interviewerUser.UserLastname}",
                    Selected = interviewerUser.UserId == Model.InterviewerUserId
                });
    }

    List<RoleUser> leadUsers = ViewBag.LeadUsers;
    List<SelectListItem> leadItems = new List<SelectListItem>();
    leadItems.Add(new SelectListItem(localizer["PleaseSelect"].Value, ""));
    foreach (var leadUser in leadUsers)
    {
        leadItems.Add(new SelectListItem()
                {
                    Value = leadUser.Id.ToString(),
                    Text = $"{leadUser.UserFirstname} {leadUser.UserLastname}"
                });
    }

}

<header class="modal-header">
    <h2 class="modal-title">Interview Users Modal</h2>
</header>

<div class="modal-body">

    <form id="userForm" action="@Url.Action("InterviewUsersModal", "Default")" method="post">

        @Html.AntiForgeryToken()

        @Html.HiddenFor(x => x.InterviewId)

        @Html.EditorFor(x => x.CandidateUserId, "Question", new { inputControl = @Html.DropDownListFor(x => x.CandidateUserId, candidateUsersItems, new { @class = "form-control" }) })

        @Html.EditorFor(x => x.InterviewerUserId, "Question", new { inputControl = @Html.DropDownListFor(x => x.InterviewerUserId, interviewerUsersItems, new { @class = "form-control" }) })

        @Html.EditorFor(x => x.InterviewerLeadUserId, "Question", new { inputControl = @Html.DropDownListFor(x => x.InterviewerLeadUserId, leadItems, new { @class = "form-control" }) })

        <div class="modal-footer">
            <button id="btnInterviewUsersClose" title="Cancel" class="btn btn-secondary cancel ml-2">@localizer["Close"]</button>
            <input id="btnInterviewUsersSave" type="submit" value="@localizer["Save"]" class="btn btn-primary" />
        </div>

    </form>

</div>  