@model VmInterview
@using Interview.UI.Models
@using Interview.UI.Helpers
@inject IViewLocalizer localizer

@{


}

<header class="modal-header">
    <h2 class="modal-title">Interview Modal</h2>
</header>

<div class="modal-body">

    <form id="interviewForm">

        @{
            await Html.RenderPartialAsync("ValidationSummary", new { @id = "validationSummaryModal" });
        }

        @Html.AntiForgeryToken()

        @Html.HiddenFor(x => x.Id)

        @Html.EditorFor(x => x.Location, "Question", new { inputControl = Html.TextBoxFor(x => x.Location, new { @class = "form-control" }) })

        @Html.EditorFor(x => x.Room, "Question", new { inputControl = Html.TextBoxFor(x => x.Room, new { @class = "form-control" }) })

        @Html.EditorFor(x => x.VmStartDate, "Question", new { inputControl = Html.JusDatePickerFor(x => x.VmStartDate, new { date = Model.VmStartDate }) })

        @Html.EditorFor(x => x.VmDuration, "Question", new { inputControl = Html.TextBoxFor(x => x.VmDuration, new { @class = "form-control" }) })

        @Html.EditorFor(x => x.ContactName, "Question", new { inputControl = Html.TextBoxFor(x => x.ContactName, new { @class = "form-control" }) })

        @Html.EditorFor(x => x.ContactNumber, "Question", new { inputControl = Html.TextBoxFor(x => x.ContactNumber, new { @class = "form-control" }) })

        <div class="modal-footer">
            <button id="btnInterviewClose" title="Cancel" class="btn btn-secondary cancel ml-2">@localizer["Close"]</button>
            <input id="btnInterviewSave" type="submit" value="@localizer["Save"]" class="btn btn-primary" />         
        </div>

    </form>

</div>