@inject IViewLocalizer localizer

<div class="row mrgn-bttm-md">

    <div class="col-md-4">
        <section class="bs-callout bs-callout-danger">
            <p>@localizer["ManageProcess"]</p>
            <div>
                @Html.ActionLink(localizer["ManageProcess"].Value, "Index", "Processes", null, new { @class = "btn btn-danger" })
                @Html.ActionLink(localizer["ManageEmails"].Value, "Index", "Emails", null, new { @class = "btn btn-default" })
            </div>
        </section>
    </div>
    <div class="col-md-4">
        <section class="bs-callout bs-callout-warning">
            <p>@localizer["RolesForProcess"]</p>
            <div>
                @Html.ActionLink(localizer["ManageRoles"].Value, "Index", "Roles", null, new { @class = "btn btn-warning" })
            </div>
        </section>
    </div>
    <div class="col-md-4">
        <section class="bs-callout bs-callout-primary">
            <p>@localizer["StatsForInterviews"]</p>
            <div>
                @Html.ActionLink(localizer["Stats"].Value, "Index", "Stats", null, new { @class = "btn btn-primary" })
            </div>
        </section>
    </div>

</div>