@model VmInternalUser
@using Interview.Entities
@using Interview.UI.Models.Graph
@inject IViewLocalizer localizer

@{

    var rolesItems = Html.GetEnumSelectList<VmRoleTypes>().ToList();
    rolesItems.Insert(0, new SelectListItem(localizer["PleaseSelect"].Value, ""));
    if (Model.RoleType != null)
        rolesItems.Where(x => x.Value == ((int)Model.RoleType).ToString()).First().Selected = true;

    EntraUser user = ViewBag.EntraUser;

}

@Html.ActionLink("Search Users", "SearchUsers")

<h1>@localizer["Title"]</h1>

@if (user.id != Guid.Empty)
{
    <section class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                @localizer["ChangeRole"]
            </h3>
        </div>
        <div class="panel-body">
            <form>

                @Html.AntiForgeryToken()

                @Html.HiddenFor(x => x.Id)

                @Html.EditorFor(x => x.RoleType, "Question", new { inputControl = @Html.DropDownList("RoleType", rolesItems, new { @class = "form-control" }) })

                <input type="submit" value="@localizer["Save"]" id="btnNext" class="btn btn-primary mr-2" formaction=@Url.Action("ChangeRole", "Account")
                       formmethod="post" />

            </form>
        </div>
    </section>
}

<div class="row">
    <div class="col-md-3">
        <strong>@localizer["GivenName"]:</strong>
    </div>
    <div class="col-md-9">
        @user.givenName
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <strong>@localizer["SurName"]:</strong>
    </div>
    <div class="col-md-9">
        @user.surname
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <strong>@localizer["DisplayName"]:</strong>
    </div>
    <div class="col-md-9">
        @user.displayName
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <strong>@localizer["JobTitle"]:</strong>
    </div>
    <div class="col-md-9">
        @user.jobTitle
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <strong>@localizer["Mail"]:</strong>
    </div>
    <div class="col-md-9">
        @user.mail
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <strong>@localizer["MobilePhone"]:</strong>
    </div>
    <div class="col-md-9">
        @user.mobilePhone
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <strong>@localizer["OfficeLocation"]:</strong>
    </div>
    <div class="col-md-9">
        @user.officeLocation
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <strong>@localizer["PreferredLanguage"]:</strong>
    </div>
    <div class="col-md-9">
        @user.preferredLanguage
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <strong>@localizer["BusinessPhone"]:</strong>
    </div>
    <div class="col-md-9">
        @{
            string businessPhones = user.businessPhones == null ? "" : string.Join(",", user.businessPhones);
        }
        @businessPhones
    </div>
</div>