@model VmFilter
@using Interview.Entities
@using Interview.UI.Models.Dashboard
@using Interview.UI.Helpers
@using System.Text
@inject IViewLocalizer localizer

@{

    ViewBag.Title = localizer["Title"].Value;

    List<Process> processes = ViewBag.ProcessesForDropdown;
    Guid? processId = ViewBag.ProcessId;
    List<VmDashboardItem> dashboardItems = ViewBag.DashboardItems;

    List<SelectListItem> vmProcessItems = new List<SelectListItem>();
    vmProcessItems.Add(new SelectListItem() { Value = "", Text = localizer["AllProcesses"].Value, Selected = Model.ProcessId == null });
    foreach (var processItem in processes)
    {
        vmProcessItems.Add(new SelectListItem()
                {
                    Value = processItem.Id.ToString(),
                    Text = processItem.NoProcessus,
                    Selected = processItem.Id == Model.ProcessId
                });
    }

    var periodOfTimeItems = Html.GetEnumSelectList<VmPeriodOfTimeTypes>().ToList();
    //periodOfTimeItems.Insert(0, new SelectListItem(localizer["PleaseSelect"].Value, ""));

}

@functions{

    private string GetEeCandidateDetails(Dictionary<Guid, VmEeGroupItem> eeGroups)
    {

        StringBuilder sb = new StringBuilder();

        foreach (KeyValuePair<Guid, VmEeGroupItem> kvp in eeGroups)
        {
            sb.Append($"<div>{kvp.Value.Name}: {kvp.Value.Count}</div>");
        }

        return sb.ToString();

    }


}

<h1>@localizer["Title"]</h1>

<section class="panel panel-primary">
    <header class="panel-heading">
        <h5 class="panel-title">@localizer["DahboardFilters"]</h5>
    </header>
    <div class="panel-body">
        @using (Html.BeginForm("Filter", "Dashboard", null, FormMethod.Post, null, new { id = "formProcess" }))
        {

            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-md-4">
                    @Html.EditorFor(x => x.ProcessId, "Question", new { inputControl = @Html.DropDownList("ProcessId", vmProcessItems, new { @class = "form-control" }) })
                </div>
                <div class="col-md-2">
                    @Html.EditorFor(x => x.PeriodOfTimeType, "Question", new { inputControl = @Html.DropDownList("PeriodOfTimeType", periodOfTimeItems, new { @class = "form-control" }) })
                </div>
                <div class="col-md-3">
                    @Html.EditorFor(x => x.StartDate, "Question", new { inputControl = Html.JusDatePickerFor(x => x.StartDate, new { date = Model.StartDate }) })
                </div>
                <div class="col-md-3">
                    @Html.ActionLink(localizer["Clear"].Value, "Index", "Dashboard", null, new { @class = "btn btn-default" })
                    <input type="submit" value="@localizer["Apply"]" id="btnSave" class="btn btn-primary mr-2" formmethod="post" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-3">
                    @Html.EditorFor(x => x.EndDate, "Question", new { inputControl = Html.JusDatePickerFor(x => x.EndDate, new { date = Model.EndDate }) })
                </div>
                <div class="col-md-3">
                </div>
            </div>

        }
    </div>
</section>

@{
    await Html.RenderPartialAsync("InterviewsRowPartial");
}

<div class="table-responsive">
    <table id="roleInterviews" class="table table-striped" data-toggle="table" data-pagination="true">
        <thead>        
            <tr>
                <th>@localizer["Dates"]</th>
                <th>@localizer["NumberSlots"]</th>
                <th>@localizer["Progress"]</th>
                <th>@localizer["CandidateManagement"]</th>
                <th>@localizer["VirtualVsInPerson"]</th>
                <th>@localizer["TimeDaysInterview"]</th>
                <th>@localizer["NumberEddCandidates"]</th>
                <th>@localizer["NumberBoardMembers"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (VmDashboardItem dashboardItem in dashboardItems)
            {
                <tr>
                    <td>@dashboardItem.Dates</td>
                    <td>@dashboardItem.NumberSlots</td>
                    <td>
                        <div>@localizer["Completed"]: @dashboardItem.NumberProgressCompleted</div>
                        <div>@localizer["Remaining"]: @dashboardItem.NumberProgressRemaining</div>
                    </td>
                    <td>
                        <div>@localizer["InTimeSlot"]: @dashboardItem.NumberCandidateInSlots</div>
                        <div>@localizer["NotInTimeSlot"]: @dashboardItem.NumberCandidateNotInSlots</div>
                    </td>
                    <td>
                        <div>@localizer["Virtual"]: @dashboardItem.NumberVirtuals</div>
                        <div>@localizer["InPerson"]: @dashboardItem.NumberInPersons</div>
                    </td>
                    <td>@dashboardItem.NumberDaysOfInterview</td>
                    <td>@Html.Raw(GetEeCandidateDetails(dashboardItem.EeCandidates))</td>
                    <td>@Html.Raw(GetEeCandidateDetails(dashboardItem.EeBoardMembers))</td>
                </tr>
            }
        </tbody>
    </table>
</div>