@model VmProcess
@using Interview.Entities
@using Interview.UI.Models
@using Interview.UI.Helpers
@using Interview.UI.Models.Options
@using Newtonsoft.Json
@inject IViewLocalizer localizer

@{

    ViewBag.Title = localizer["Title"].Value;

    ViewBag.FieldOrder = new List<string>(new string[]
    {
        "NoProcessus", "GroupNiv", "StartDate", "EndDate", "MinTime", "MaxTime", "DeadlineInterviewer", "DeadlineCandidate", "ContactName",
        "ContactNumber", "InterviewDuration", "MembersIntroEN", "MembersIntroFR", "CandidatesIntroEN", "CandidatesIntroFR"
    }).Select(x => x.ToLower()).ToList();

    string cultureName = System.Globalization.CultureInfo.CurrentCulture.Name;
    string h3 = Model.Id == null ? localizer["AddProcess"].Value : localizer["EditProcess"].Value;

    List<DepartmentOption> departments = ViewBag.Departments;
    List<SelectListItem> departmentItems = new List<SelectListItem>();
    departmentItems.Add(new SelectListItem(localizer["PleaseSelect"].Value, ""));
    foreach (var mockDepartment in departments)
    {
        departmentItems.Add(new SelectListItem()
        {         
            Value = mockDepartment.Key,
            Text = cultureName == Constants.EnglishCulture ? mockDepartment.NameEN : mockDepartment.NameFR
        });
    }

}

@{
    await Html.RenderPartialAsync("TopMenuPartial");
}

<h3>
    <span class="text-primary">@h3</span>
</h3>

@if (Model.Id != null)
{
    <div class="row">
        @Html.ActionLink(localizer["ManageEmails"].Value, "Index", "Emails", new { contestId = Model.Id }, new { @class = "btn btn-secondary" })
   </div>
}

@{ await Html.RenderPartialAsync("ValidationSummary"); }

<form>

    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.Id)

    <section class="panel panel-default mt-3">

        <div class="panel-heading">
            <h3 class="panel-title">
                @localizer["h3GeneralInformation"]
            </h3>
        </div> 

        <div class="panel-body">

            <div class="row">
                <div class="col-md-12">
                    @Html.EditorFor(x => x.DepartmentKey, "Question", new { inputControl = @Html.DropDownList("DepartmentKey", departmentItems, new { @class = "form-control" }) })
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    @Html.EditorFor(x => x.NoProcessus, "Question", new { inputControl = Html.TextBoxFor(x => x.NoProcessus, new { @class = "form-control" }) })
                </div>
                <div class="col-md-6">
                    @Html.EditorFor(x => x.GroupNiv, "Question", new { inputControl = Html.TextBoxFor(x => x.GroupNiv, new { @class = "form-control" }) })
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    @Html.EditorFor(x => x.StartDate, "Question", new { inputControl = Html.JusDatePickerFor(x => x.StartDate, new { date = Model.StartDate }) })
                </div>
                <div class="col-md-6">
                    @Html.EditorFor(x => x.EndDate, "Question", new { inputControl = Html.JusDatePickerFor(x => x.EndDate, new { date = Model.EndDate }) })
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    @Html.EditorFor(x => x.MinTime, "Question", new { inputControl = Html.TextBoxFor(x => x.MinTime, new { @class = "form-control" }) })
                </div>
                <div class="col-md-6">
                    @Html.EditorFor(x => x.MaxTime, "Question", new { inputControl = Html.TextBoxFor(x => x.MaxTime, new { @class = "form-control" }) })
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    @Html.EditorFor(x => x.DeadlineInterviewer, "Question", new { inputControl = Html.JusDatePickerFor(x => x.DeadlineInterviewer, new { date = Model.DeadlineInterviewer }) })
                </div>
                <div class="col-md-6">
                    @Html.EditorFor(x => x.DeadlineCandidate, "Question", new { inputControl = Html.JusDatePickerFor(x => x.DeadlineCandidate, new { date = Model.DeadlineCandidate }) })
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    @Html.EditorFor(x => x.ContactName, "Question", new { inputControl = Html.TextBoxFor(x => x.ContactName, new { @class = "form-control" }) })
                </div>
                <div class="col-md-6">
                    @Html.EditorFor(x => x.ContactNumber, "Question", new { inputControl = Html.TextBoxFor(x => x.ContactNumber, new { @class = "form-control" }) })
                </div>
            </div>

        </div>
    </section>

     <section class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                @localizer["h3ManageTimeslot"]
            </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    @Html.EditorFor(x => x.InterviewDuration, "Question", new { inputControl = Html.TextBoxFor(x => x.InterviewDuration, new { @class = "form-control" }) })
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.EditorFor(x => x.VmScheduleCandidateStart, "Question", new { inputControl = Html.TextBoxFor(x => x.VmScheduleCandidateStart, new { @class = "form-control" }) })
                </div>
                <div class="col-md-4">
                    @Html.EditorFor(x => x.VmScheduleMembersStart, "Question", new { inputControl = Html.TextBoxFor(x => x.VmScheduleMembersStart, new { @class = "form-control" }) })
                </div>
                <div class="col-md-4">
                    @Html.EditorFor(x => x.VmScheduleMarkingStart, "Question", new { inputControl = Html.TextBoxFor(x => x.VmScheduleMarkingStart, new { @class = "form-control" }) })
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <div class="text-info">Placeholder for slider...</div>
                    @*<div id="slider" class="slider default"></div>*@
                </div>
            </div>
        </div>
    </section>

    <div class="panel panel-default mt-3">
        <div class="panel-heading">
            <h3 class="panel-title">
                @localizer["h3MembersIntro"]
            </h3>
        </div>
        <div class="panel-body">
            <div class="row mt-0">
                <div class="col-md-6">
                    @Html.EditorFor(x => x.MembersIntroEN, "Question", new { inputControl = Html.JusRichTextBoxFor(x => x.MembersIntroEN, new { value = Model.MembersIntroEN }) })
                </div>
                <div class="col-md-6">
                    @Html.EditorFor(x => x.MembersIntroFR, "Question", new { inputControl = Html.JusRichTextBoxFor(x => x.MembersIntroFR, new { value = Model.MembersIntroFR }) })
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
            @localizer["h3CandidatesIntro"]
            </h3>
        </div>
        <div class="panel-body">
            <div class="row mt-0">
                <div class="col-md-6">
                    @Html.EditorFor(x => x.CandidatesIntroEN, "Question", new { inputControl = Html.JusRichTextBoxFor(x => x.CandidatesIntroEN, new { value = Model.CandidatesIntroEN }) })
                </div>
                <div class="col-md-6">
                    @Html.EditorFor(x => x.CandidatesIntroFR, "Question", new { inputControl = Html.JusRichTextBoxFor(x => x.CandidatesIntroFR, new { value = Model.CandidatesIntroFR }) })
                </div>
            </div>
        </div>
    </div>

    <div class="mt-3">

        
        @if (Model.Id == null)
        {
            <input type="submit" value="@localizer["Next"]" id="btnNext" class="btn btn-primary mr-2" formaction=@Url.Action("ContestNext", "Contests")
               formmethod="post" />
        }
        else
        {
            <input type="submit" value="@localizer["Save"]" id="btnSave" class="btn btn-primary mr-2" formaction=@Url.Action("ContestSave", "Contests")
               formmethod="post" />
        }
        @Html.ActionLink(localizer["Cancel"].Value, "Index", "Contests", null, new { @class = "btn btn-default" })

    </div>

</form>