
@*@inject IViewLocalizer localizer

@{

    //List<VmContest> vmContests = ViewBag.VmContests;

}*@

<h1>Index</h1>

@*<div class="row mb-3">
    <div class="col-md-12 pull-left">
        <a id="btnAddItem" href="#modalContainer" class="btn btn-primary">@localizer["AddButton"]</a>
    </div>
</div>

<div class="table-responsive">
    <table id="tblItems" class="table table-striped">
        <thead>
            <tr>
                <th>@localizer["lblTitreGroupNiv"]</th>
                <th>@localizer["groupNiv"]</th>
                <th>@localizer["lblTitreStartDate"]</th>
                <th>@localizer["startDate"]</th>
                <th>@localizer["lblTitreEndDate"]</th>
                <th>@localizer["endDate"]</th>
            </tr>
        </thead>
    </table>
</div>*@