@inject IViewLocalizer localizer

@{

    ViewBag.Title = localizer["Title"].Value;

    List<VmContest> vmContests = ViewBag.VmContests;

}

<h1>@localizer["Title"]</h1>

<div class="row mb-3">
    <div class="col-md-12 pull-left">
        @Html.ActionLink(localizer["AddContest"].Value, "Contest", "Contests", null, new { @class = "btn btn-primary" })
    </div>
</div>

<div class="table-responsive">
    <table id="contests" class="table table-striped" data-toggle="table" data-pagination="true">
        <thead>
            <tr>
                <th>@localizer["GroupNiv"]</th>
                <th>@localizer["StartDate"]</th>
                <th>@localizer["EndDate"]</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (VmContest vmContest in vmContests)
            {
                <tr>
                    <td>@vmContest.GroupNiv</td>
                    <td>@vmContest.StartDate.Value.ToString(Constants.DateTimeFormat)</td>
                    <td>@vmContest.EndDate.Value.ToString(Constants.DateTimeFormat)</td>
                    <td>
                        @Html.ActionLink(localizer["Manage"].Value, "Contest", "Contests", new { id = vmContest.Id })
                        @Html.ActionLink(localizer["Delete"].Value, "DeleteContest", "Contests", new { id = vmContest.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<link href="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.css" rel="stylesheet">

<script src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.js"></script>