@using Interview.Entities
@using Interview.UI.Services.Mock.Departments
@inject IViewLocalizer localizer

@{

    string cultureName = System.Globalization.CultureInfo.CurrentCulture.Name;
    Contest contest = ViewBag.Contest;
    List<MockDepartment> mockDepartments = ViewBag.MockDepartments;

    string departmentName = "";
    if (contest.DepartmentId != null)
    {
        var mockDepartment = mockDepartments.Where(x => x.Id == contest.DepartmentId).FirstOrDefault();
        if (mockDepartment != null)
            departmentName = cultureName == Constants.EnglishCulture ? mockDepartment.NameEN : mockDepartment.NameFR;
    }

}

<div class="col-md-4">
    <section class="panel panel-default mt-3">

        <div class="panel-heading">
            <h3 class="panel-title">
                @contest.GroupNiv
            </h3>
        </div>

        <div class="panel-body">

            <div>
                @localizer["DepartmentId"]: <span class="h5">@departmentName</span>
            </div>
            <div>
                @localizer["GroupNiv"]: <span class="h5">@contest.GroupNiv</span>
            </div>
            <div>
                @localizer["StartDate"]: <span class="h5">@contest.StartDate.Value.ToString(Constants.DateFormat)</span>
            </div>
            <div>
                @localizer["EndDate"]: <span class="h5">@contest.EndDate.Value.ToString(Constants.DateFormat)</span>
            </div>

            <div class="mrgn-tp-md">
                @Html.ActionLink(localizer["ProcessManagement"].Value, "Contest", "Contests", new { contestId = contest.Id }, new { @class = "btn btn-default" })
                @Html.ActionLink(localizer["Delete"].Value, "DeleteContest", "Contests", new { contestId = contest.Id }, new { @class = "btn btn-danger" })
            </div>

        </div>

    </section>
</div>
