@using Interview.UI.Models
@inject IViewLocalizer localizer

@{

    VmContest vmContest = ViewBag.vmContest;

}

<div class="col-md-4">
    <section class="panel panel-default mt-3">

        <div class="panel-heading">
            <h3 class="panel-title">
                @vmContest.GroupNiv
            </h3>
        </div>

        <div class="panel-body ml-3">

            <div>
                @localizer["DepartmentId"]: <span class="h5">@vmContest.DepartmentId</span>
            </div>
            <div>
                @localizer["GroupNiv"]: <span class="h5">@vmContest.GroupNiv</span>
            </div>
            <div>
                @localizer["StartDate"]: <span class="h5">@vmContest.StartDate.Value.ToString(Constants.DateFormat)</span>
            </div>
            <div>
                @localizer["EndDate"]: <span class="h5">@vmContest.EndDate.Value.ToString(Constants.DateFormat)</span>
            </div>



        </div>

    </section>
</div>
