
@inject IViewLocalizer localizer

@{


}

<section class="alert alert-default">

    <div class="row">
        <div class="col-md-6">
            <h4>@localizer["LegendExternalCandidates"]</h4>
        </div>
        <div class="col-md-6">
            <h4>@localizer["MultipleSendingEmails"]</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <span class="glyphicon glyphicon-send text-danger"></span> @localizer["EmailNotSent"]
        </div>
        <div class="col-md-6">
            @Html.ActionLink(localizer["EmailExternalExceptAlreadySent"].Value, "EmailExternalExceptAlreadySent", "Roles", null, new { @class = "btn btn-default" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <span class="glyphicon glyphicon-send text-success"></span> @localizer["EmailAlreadySent"]
        </div>
        <div class="col-md-6">
            @Html.ActionLink(localizer["EmailedAllExternalCandidatesButton"].Value, "EmailAllExternalCandidates", "Roles", null, new { @class = "btn btn-default" })
        </div>
    </div>

</section>