@model VmIndex
@using Interview.UI.Models.Roles
@inject IViewLocalizer localizer

@{

    string cultureName = System.Globalization.CultureInfo.CurrentCulture.Name;
    VmUserSetting vmUserSetting = ViewBag.VmUserSetting;
    string userName = $"{vmUserSetting.UserLastname}, {vmUserSetting.UserFirstname}";

    List<VmRole> vmRoles =  ViewBag.VmRoles;
    List<SelectListItem> rolesItems = new List<SelectListItem>();
    foreach (var vmRole in vmRoles)
    {
        rolesItems.Add(new SelectListItem()
        {         
            Value = vmRole.Id.ToString(),
            Text = cultureName == Constants.EnglishCulture ? vmRole.RoleNameEN : vmRole.RoleNameFR
        });
    }

    List<VmUserLanguage> vmUserLanguages = ViewBag.VmUserLanguages;
    List<SelectListItem> userLanguageItems = new List<SelectListItem>();
    foreach (var vmUserLanguage in vmUserLanguages)
    {
        userLanguageItems.Add(new SelectListItem()
        {         
            Value = vmUserLanguage.Id.ToString(),
            Text = cultureName == Constants.EnglishCulture ? vmUserLanguage.NameEN : vmUserLanguage.NameFR
        });
    }

    bool showEquities = ViewBag.ShowEquities;

}

<tr>
    <form id="editForm" action="/Roles/UpdateUserSettings" method="post">
        <input type="hidden" value="@Model.UserSettingToEdit.Id" id="Id" name="Id" />
        @Html.AntiForgeryToken()
        <td>@userName</td>
        <td>@Html.DropDownList("RoleId", rolesItems, new { @class = "form-control" })</td>
        <td>@Html.DropDownList("UserLanguageId", userLanguageItems, new { @class = "form-control" })</td>
        @if (showEquities)
        {
            <td>
                @{
                    for (int i = 0; i < Model.Equities.Count; i++)
                    {
                        ViewData.TemplateInfo.HtmlFieldPrefix = $"Equities[{i.ToString()}]";
                        VmEquity vmEquity = Model.Equities[i];
                        vmEquity.IsSelected = Model.UserSettingToEdit.UserSettingEquities.Any(x => x.EquityId == vmEquity.Id);
                        ViewBag.EquityIndex = i;
                        await Html.RenderPartialAsync("EquityEditCheckbox", vmEquity);
                    }
                    ViewData.TemplateInfo.HtmlFieldPrefix = "";
                }
            </td>
        }
        <td>
            <a href="@Url.Action("Index", "Roles")">
                <span class="glyphicon glyphicon-remove text-danger"></span>
            </a>
            <a id="aSubmit" href="@Url.Action("UpdateUserSettings", "Roles", new { userSettingsId = Model.UserSettingToEdit.Id } )">
                <span class="glyphicon glyphicon-ok text-success"></span>
            </a>
        </td>   
    </form>
</tr>