
@using Interview.Entities
@inject IViewLocalizer localizer

@{

    List<RoleUser> roleUsers = ViewBag.Process.RoleUsers;

    Guid? roleUserIdToUpdate = (Guid?)TempData[Constants.RoleUserIdToUpdate];
    bool showEquities = ViewBag.ShowEquities;

}

@if (roleUsers.Count == 0)
{
    <p>@localizer["NoRoles"]</p>
}
else
{
    <div class="table-responsive">
        <table id="roleUsers" class="table table-striped" data-toggle="table" data-pagination="true">
            <thead>
                <tr>
                    <th>@localizer["UserName"]</th>
                    <th>@localizer["Role"]</th>
                    <th>@localizer["Language"]</th>
                    @if (showEquities)
                    {
                        <th>@localizer["Equities"]</th>
                    }
                    <th>@localizer["Action"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (RoleUser roleUser in roleUsers)
                {
                    ViewBag.RoleUser = roleUser;
                    if (roleUser.Id == roleUserIdToUpdate)
                    {
                        await Html.RenderPartialAsync("TableEditableRowPartial");
                    }
                    else
                    {                   
                        await Html.RenderPartialAsync("TableReadonlyRowPartial");
                    }
                }
            </tbody>
        </table>
    </div>
}