
@{

    string cultureName = System.Globalization.CultureInfo.CurrentCulture.Name;
    VmUserSetting vmUserSetting = ViewBag.VmUserSetting;

    string userName = $"{vmUserSetting.UserLastname}, {vmUserSetting.UserFirstname}";
    string roleName = cultureName == Constants.EnglishCulture ? vmUserSetting.Role.RoleNameEN : vmUserSetting.Role.RoleNameFR;
    string language = null;
    if (vmUserSetting.UserLanguage != null)
        language = cultureName == Constants.EnglishCulture ? vmUserSetting.UserLanguage.NameEN : vmUserSetting.UserLanguage.NameFR;

}

<tr>
    <td>
        <a href="#">@userName</a>
    </td>
    <td>@roleName</td>
    <td>@language</td>
    <td>
        <a href="@Url.Action("UpdateUserSettings", "Roles", new { userSettingsId = vmUserSetting.Id } )">
            <span class="glyphicon glyphicon-edit text-info"></span>
        </a>
        <a href="@Url.Action("DeleteUserSetting", "Roles", new { userSettingsId = vmUserSetting.Id } )">
            <span class="glyphicon glyphicon-trash text-danger"></span>
        </a>

        @*<span class="glyphicon glyphicon-send text-success"></span>*@

    </td>
</tr>
