@using System.Text
@using Interview.Entities
@inject IViewLocalizer localizer

@{

    string cultureName = System.Globalization.CultureInfo.CurrentCulture.Name;
    RoleUser roleUser = ViewBag.RoleUser;

    string userName = $"{roleUser.UserLastname}, {roleUser.UserFirstname}";
    string roleName = localizer[roleUser.RoleUserType.ToString()].Value;
    string language = roleUser.LanguageType == null ? null : localizer[roleUser.LanguageType.ToString()].Value;
    bool showEquities = ViewBag.ShowEquities;
    string equities = "";

    if (showEquities)
    {
        StringBuilder sb = new StringBuilder();

        foreach (var roleUserEquity in roleUser.RoleUserEquities)
        {
            sb.Append(cultureName == Constants.EnglishCulture ? roleUserEquity.Equity.NameEN : roleUserEquity.Equity.NameFR);
            if (roleUserEquity != roleUser.RoleUserEquities.Last())
                sb.Append(", ");
        }

        equities = sb.ToString();
    }

}

<tr>
    <td>
        <a href="#">@userName</a>
    </td>
    <td>
        @roleName
        @if ((bool)roleUser.IsExternal)
        {
            <span class="text-muted small">@localizer["External"]</span>
        }
    </td>
    <td>@language</td>
    @if (showEquities)
    {
        <td>@equities</td>
    }
    <td>
        <a href="@Url.Action("UpdateRoleUser", "Roles", new { roleUserId = roleUser.Id } )">
            <span class="glyphicon glyphicon-edit text-info"></span>
        </a>
        
        <a class="deleteRecord" data-id="@roleUser.Id" href="#modalContainer">
            <span class="glyphicon glyphicon-trash text-danger"></span>
        </a>

        @if ((bool)roleUser.IsExternal)
        {
            string imageClass = roleUser.DateExternalEmailSent.HasValue ? "text-success" : "text-danger";
            <a href="@Url.Action("EmailExternalUser", "Roles", new { roleUserId = roleUser.Id } )">
                <span class="glyphicon glyphicon-send @imageClass"></span>
            </a>
        }
    </td>
</tr>
