@using System.Text
@using Interview.Entities
@inject IViewLocalizer localizer

@{

    string cultureName = System.Globalization.CultureInfo.CurrentCulture.Name;
    UserSetting userSetting = ViewBag.UserSetting;

    string userName = $"{userSetting.UserLastname}, {userSetting.UserFirstname}";
    string roleName = localizer[userSetting.RoleType.ToString()].Value;
    string language = null;
    if (userSetting.UserLanguage != null)
        language = cultureName == Constants.EnglishCulture ? userSetting.UserLanguage.NameEN : userSetting.UserLanguage.NameFR;
    bool showEquities = ViewBag.ShowEquities;
    string equities = "";

    if (showEquities)
    {
        StringBuilder sb = new StringBuilder();

        foreach (var userSettingEquity in userSetting.UserSettingEquities)
        {
            sb.Append(cultureName == Constants.EnglishCulture ? userSettingEquity.Equity.NameEN : userSettingEquity.Equity.NameFR);
            if (userSettingEquity != userSetting.UserSettingEquities.Last())
                sb.Append(", ");
        }

        equities = sb.ToString();
    }

}

<tr>
    <td>
        <a href="#">@userName</a>
    </td>
    <td>@roleName</td>
    <td>@language</td>
    @if (showEquities)
    {
        <td>@equities</td>
    }
    <td>
        <a href="@Url.Action("UpdateUserSettings", "Roles", new { userSettingsId = userSetting.Id } )">
            <span class="glyphicon glyphicon-edit text-info"></span>
        </a>
        <a href="@Url.Action("DeleteUserSetting", "Roles", new { userSettingsId = userSetting.Id } )">
            <span class="glyphicon glyphicon-trash text-danger"></span>
        </a>

        @*<span class="glyphicon glyphicon-send text-success"></span>*@

    </td>
</tr>
