
@using Interview.UI
@inject IViewLocalizer localizer

@{

    List<VmUserSetting> vmUserSettings = ViewBag.VmUserSettings;

    Guid? userSettingIdToUpdate = (Guid?)TempData["UserSettingIdToUpdate"];
    bool showEquities = ViewBag.ShowEquities;

}

@if (vmUserSettings.Count == 0)
{
    <p>@localizer["NoRoles"]</p>
}
else
{
    <div class="table-responsive">
        <table id="userSettings" class="table table-striped" data-toggle="table" data-pagination="true">
            <thead>
                <tr>
                    <th>@localizer["UserName"]</th>
                    <th>@localizer["Role"]</th>
                    <th>@localizer["Language"]</th>
                    @if (showEquities)
                    {
                        <th>@localizer["Equities"]</th>
                    }
                    <th>@localizer["Action"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (VmUserSetting vmUserSetting in vmUserSettings)
                {
                    if (vmUserSetting.Id == userSettingIdToUpdate)
                    {
                        await Html.RenderPartialAsync("TableEditableRowPartial", vmUserSetting);
                    }
                    else
                    {
                        ViewBag.VmUserSetting = vmUserSetting;
                        await Html.RenderPartialAsync("TableReadonlyRowPartial");
                    }
                }
            </tbody>
        </table>
    </div>
}

@*<link href="~/lib/jquery-DataTables/datatables.min.css" rel="stylesheet" />
<script src="~/lib/jquery-DataTables/datatables.min.js"></script>
<script src="~/js/Roles/TablePartial.js" asp-append-version="true"></script>*@