@model VmAddGroup
@using Interview.UI.Models.Groups
@inject IViewLocalizer localizer

@{



}

<form>

    @Html.AntiForgeryToken()

    <section class="panel panel-default mt-3">

        <div class="panel-heading">

        </div>

        <div class="panel-body">

            <div class="row">
                <div class="col-md-6">
                    @Html.EditorFor(x => x.NameEn, "Question", new { inputControl = Html.TextBoxFor(x => x.NameEn, new { @class = "form-control" }) })
                </div>
                <div class="col-md-6">
                    @Html.EditorFor(x => x.NameFr, "Question", new { inputControl = Html.TextBoxFor(x => x.NameFr, new { @class = "form-control" }) })
                </div>
            </div>

        </div>

        <div class="panel-footer">

            <div>
                <input type="submit" value="@localizer["Cancel"]" id="btnReset" class="btn btn-default mr-2" formaction=@Url.Action("Index", "Groups")
                        formmethod="get" />
                <input type="submit" value="@localizer["Add"]" id="btnSave" class="btn btn-primary mr-2" formaction=@Url.Action("AddGroup", "Groups")
                        formmethod="post" />
            </div>

        </div>

    </section>

</form>